<div class="sidebar">
  <!-- HEADER -->
  <div class="header">
    <div class="logo__container">
      <img src="/images/logo.png" alt="Fundvest logo" class="logo" />
    </div>

    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

  <!-- MENU -->
  <div class="menu">
    <ul class="menu__items">
      <li>
        <a href="/dashboard">
          <i class="fas fa-home"></i> 
          <span class="fa__name">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class="fas fa-users"></i> 
          <span class="fa__name">Profile</span></a>
      </li>
      <li>
        <a href="/investment">
          <i class="fas fa-warehouse"></i>
          <span class="fa__name">Investment</span>
        </a>
      </li>
      <li>
        <a href="/transaction">
          <i class="fas fa-business-time"></i>
          <span class="fa__name">Transaction</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- LOGOUT -->
  <div class="logout">
    
    <a href="/logout"><i class="fas fa-sign-out-alt"></i> <span class="fa__name">Logout</span></a>
  </div>
</div>
