<div class="dashboard">
  <!-- MAIN -->
  <main class="main">
    <!-- LEFT -->
    <section class="main__left">
      <!-- MENU -->
      <div class="menu">
        <ul class="menu__items">
          <li>
            <a href="/dashboard">
              <i class="fas fa-home"></i>
              <span class="fa__name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/profile">
              <i class="fas fa-users"></i>
              <span class="fa__name">Profile</span></a
            >
          </li>
          <li>
            <a href="/investment">
              <i class="fas fa-warehouse"></i>
              <span class="fa__name">Investment</span>
            </a>
          </li>
          <li>
            <a href="/transaction">
              <i class="fas fa-business-time"></i>
              <span class="fa__name">Transaction</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- LOGOUT -->
      <div class="logout">
        <a href="/logout"
          ><i class="fas fa-sign-out-alt"></i>
          <span class="fa__name">Logout</span></a
        >
      </div>
    </section>
    <!-- Left ends here -->

    <!-- RIGHT -->
    <div class="main__right">
      <!-- BALANCES -->
      <div class="balances">
        <div class="balance">
          <div class="balance__right">₦</div>
          <div class="balance__display">
            <div class="balance__name">Wallet</div>
            <div class="balance__amount">₦0</div>
          </div>
        </div>
        <div class="balance">
          <div class="balance__right">₦</div>
          <div class="balance__display">
            <div class="balance__name">Savings</div>
            <div class="balance__amount">₦0</div>
          </div>
        </div>
        <div class="balance">
          <div class="balance__right">₦</div>
          <div class="balance__display">
            <div class="balance__name">Interest</div>
            <div class="balance__amount">₦0</div>
          </div>
        </div>
      </div>

      <!-- PLANS -->
      <div class="plans__sections">
        <h2>Select a plan</h2>

        <div class="plans">
          <div class="plan">
            <a href="/plans/quickvest">
              <div class="name">Quickvest</div>
              <div class="duration">Min. duration: 3 months</div>
              <div class="amount">Min. cost: 50k</div>
              <div class="interest">Interest rate: 12%</div>
            </a>
          </div>

          <div class="plan">
            <a href="/plans/realvest">
              <div class="name">Realvest</div>
              <div class="duration">6 months</div>
              <div class="amount">50k</div>
              <div class="interest">18%</div>
            </a>
          </div>
          <div class="plan">
            <a href="/plans/fundvest">
              <div class="name">Fundvest</div>
              <div class="duration">9 months</div>
              <div class="amount">1 million</div>
              <div class="interest">25%</div>
            </a>
          </div>
        </div>
        <!-- PLANS ENDS HERE -->
      </div>
    </div>
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <ul class="footer__menu__items">
      <li>
        <a href="/dashboard">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class="fas fa-users"></i>
        </a>
      </li>
      <li>
        <a href="/investment">
          <i class="fas fa-warehouse"></i>
        </a>
      </li>
      <li>
        <a href="/transaction">
          <i class="fas fa-business-time"></i>
        </a>
      </li>
      <li>
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
