<div class="profile">
  <!-- MAIN -->
  <main class="main">
    <!-- LEFT -->
    <section class="main__left">
      <!-- MENU -->
      <div class="menu">
        <ul class="menu__items">
          <li>
            <a href="/dashboard">
              <i class="fas fa-home"></i>
              <span class="fa__name">Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/profile">
              <i class="fas fa-users"></i>
              <span class="fa__name">Profile</span></a
            >
          </li>
          <li>
            <a href="/investment">
              <i class="fas fa-warehouse"></i>
              <span class="fa__name">Investment</span>
            </a>
          </li>
          <li>
            <a href="/transaction">
              <i class="fas fa-business-time"></i>
              <span class="fa__name">Transaction</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- LOGOUT -->
      <div class="logout">
        <a href="/logout"
          ><i class="fas fa-sign-out-alt"></i>
          <span class="fa__name">Logout</span></a
        >
      </div>
    </section>
    <!-- Left ends here -->

    <!-- RIGHT -->
    <div class="main__right">

    </div>
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <ul class="footer__menu__items">
      <li>
        <a href="/dashboard">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li>
        <a href="/profile">
          <i class="fas fa-users"></i>
        </a>
      </li>
      <li>
        <a href="/investment">
          <i class="fas fa-warehouse"></i>
        </a>
      </li>
      <li>
        <a href="/transaction">
          <i class="fas fa-business-time"></i>
        </a>
      </li>
      <li>
        <a href="/logout">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>
