<div class="signin">
   <form action="/signin" method="post" class="bg-info p-4">

      
      
      <div class="form__head">
         <h2>Sign in</h2>
      </div>
      
      <div class="form__desc">
         Enter you log in details below
      </div>

      <div class="form-group">
          <div class="input-group">
             <div class="input-group-append">
              <span class="input-group-text">
                <!-- <i class="fa-solid fa-user"></i> -->
                <i class="bi bi-person-circle"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Enter your Email" name="email">
         </div>
      </div>
      
      <div class="form-group">
         <div class="input-group">
            <div class="input-group-append">
               <span class="input-group-text">
                  <i class="bi bi-pin-fill"></i>
               </span>
            </div>
            <input type="password" class="form-control" placeholder="Enter your password" name="password" id="password">
         </div>
      </div>
      
      <div class="form-group">
         <input type="submit" class="btn btn-secondary">
      </div>

      <div class="right">Do not have an account? <span class="color"><a href="/signup" class="text-white">Sign up</a></span></div>
   </form>
</div>