@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

$primary-color: rgb(17, 17, 99);
$primary-color-light: rgba(17, 17, 99, 0.582);
$secondary-color: rgb(177, 52, 114);
$secondary-color-light: rgba(177, 52, 114, 0.418);
$transition: all .5s ease-in-out;

@mixin largeScreen {
   @media (min-width: 768px) {
      @content;
   }
};

@mixin flexCenter {
   display: flex;
   justify-content: center;
   align-items: center;
};

a {
   text-decoration: none;
   color: inherit;
}

img {
   object-fit: contain;
}

ul {
   list-style: none;
}